<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="post-header bg-brown">
 
    </div>
    <div class="post-body">
      {{comment_text}} <br>
      -     {{user.username}}  ,  {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>
