<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Tech Blog</title>

 <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="bg-cabbage">
 
    <header class="bg-brown">
     <div class="wrapper">
      <nav>
        <a class="font-cabbage" href="/">Home</a>  
        {{#if loggedIn}}
        <a class="font-cabbage" href="/dashboard">Dashboard</a>
        <button id="logout" class="link-btn font-cabbage">Logout</button>
        {{else}}
        <a class="font-cabbage" href="/login">Login</a>
        {{/if}}
      </nav>

        <h1 class="text-center bg-cabbage font-brown">
        {{ get_title page }}
        </h1>

      </div>
    </header>
     <div class="wrapper">
    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/auto-logout.js"></script>
  {{/if}}
 

</body>

</html>