{{#if posts.length}}
<section>
  <ul  class="post-list">
    {{#each posts as |post|}}
    <li class="dash-posts">
      <article id={{post.id}}>

        {{post.title}}  {{format_date post.created_at}}
      </article>

    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<div>
 <a href="/dashboard/new-post"  target="_self" class="newpost-link">+ New Post</a>
</div>

<script src="javascript/click-post.js"></script>


