{{#if posts.length}}
<section>
  <ul  class="post-list">
    {{#each posts as |post|}}
    <li class="dash-posts">
      <article class="space-between" id={{post.id}}>

       <span>{{post.title}}</span>  <span>{{format_date post.created_at}}</span>
      </article>

    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<div class="dashboard-footer large-margin-top">
 <a href="/dashboard/new-post"  target="_self" class="newpost-link">+ New Post</a>
</div>

<script src="javascript/click-post.js"></script>


