<article>

  <form class="edit-post-form post">
     <div class="post-header bg-brown font-cabbage">Edit Post</div>

     <div class="post-body">
      <label for="post-title">Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    <br><br>
    <label for="post-content">Content</label>
    <textarea name="post-text">{{post.text}}</textarea>
      <div>
    <button type="submit" class="btn-submit">Save post</button>
    <button type="button" class="btn-submit" id="delete-post-btn">Delete post</button>
    </div>

     </div>
  
  </form>

</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
