<form id="login-form" class="login-form">
  <article class="post">
   <div class="post-header bg-brown font-cabbage">Login</div>
   <div class="post-body">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="btn-submit" type="submit">login</button>
  </div>

  <div id="btn-signup" class="signup">Sign up instead</div>
   </div>
   </article>
</form>

<form id="signup-form" class="signup-form">

    <article class="post">
   <div class="post-header bg-brown font-cabbage">Sign up</div>
   <div class="post-body">

  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn-submit" type="submit">signup</button>
  </div>
    <div id="btn-login" class="signup">Login instead</div>
   </div>
  </article>
</form>

<script src="/javascript/login.js"></script>
<script src="/javascript/switch-forms.js"></script>