<section>
  <form class="new-post-form post">
   
      <div class="post-header bg-brown font-cabbage">Create New Post</div>
      <div class="post-body">
    
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    
    
      <label for="post-text">Content</label>
      <textarea id="post-text" name="post-text"></textarea>
   
    <button type="submit" class="btn-submit">Create</button>
      </div>

  </form>

</section>

<div class="dashboard-footer">
 <a href="/dashboard/new-post"  target="_self" class="newpost-link">+ New Post</a>
</div>

<script src="/javascript/add-post.js"></script>