{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form post">

  <div class="post-header bg-brown font-cabbage"> 
  </div>

  <div class="post-body">

    <label for="comment-body">Comment</label>
    <textarea name="comment-body"></textarea>


     <button class="btn-submit" type="submit">Submit</button>
  </div>

  <div>
   
  </div>
</form>




{{/if}}

{{#if post.comments.length }}
<p>Comments:</p>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}

<script src="/javascript/comment.js"></script>
{{/if}}