/* * {
    box-sizing: border-box;
  } */
  
  body, html {
    height: 100%;
    font-family: sans-serif;
 
  }


  
  .post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .post {

    border: 3px solid #231010;
    margin-bottom: 2%;
    line-height: 150%;
  }

  .post-header {
    padding: 5px;
  }

  .post-body {
    padding:5px 8px;
  }

  .dash-posts {

    background-color: grey;
    border-radius:5px;
    margin-bottom:5px;
    color:white;
    padding:9px;

  }

  .signup {
    color:blue;
    margin:3px;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
    color :  #D9EAD3;
  }
  
   input {
    padding: .5%;
    border-radius: 0px;
    width:98.5%;
    margin-bottom:5px;
    border:2px solid lightblue;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border:3px solid lightblue;
  }
  
  textarea {
  
    width:99%;
    min-height: 100px;
    border-radius:0px;
    border:2px solid lightblue;
    margin-bottom:6px;
    
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }
  
  h1 {
    font-size: 1em;
    padding:8px;
    border-radius:6px;
    max-width:25%;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  .font-cabbage {

  color : #D9EAD3;
  }

  .bg-cabbage {

    background-color : #D9EAD3;
  }

  .font-brown {
    color: #231010;
  }

  .bg-brown {
    background-color: #231010;
  }

  .btn-submit {

    background-color:grey;
    border-radius:4px;
    border:none;
    padding:5px;

    color:white;
    width:100%;
    box-shadow:none;
    margin-bottom:6px;

  }
  
  .link-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color .1s;
    margin-left: 16px;
  }

  
  .newpost-link {
    display: inline-block;
    text-decoration: none;
    background-color: #231010;
    border-radius:5px;
    margin-bottom:5px;
    color : #D9EAD3;
    padding:9px;
    margin-top:200px;

  }

  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    margin-bottom: 1%;
    line-height: 200%;
    border: 3px solid #231010;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  


